server:
  port: 8085

services:
  user:
    base-url: http://localhost:8080
  notification:
    base-url: http://localhost:8091
# http clients timeouts
http:
  client:
    connect-timeout: 2000
    read-timeout: 5000

# circuit breaker
resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      notificationService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

# logging
logging:
  level:
    ru.vicsergeev.GetwayUserService: INFO
    org.springframework.web: INFO