server:
  port: 8085

spring:
  profiles:
    active: dev  # можно переопределить через ENV: SPRING_PROFILES_ACTIVE=prod

services:
  user:
    instances:
      - http://localhost:8080
      # - http://localhost:8081
    connect-timeout: 2000
    response-timeout: 5000
    health-check-interval: 30
    health-check-timeout: 3000
  notification:
    instances:
      - http://localhost:8091
      # - http://localhost:8092
    connect-timeout: 2000
    response-timeout: 5000
    health-check-interval: 30
    health-check-timeout: 3000

# circuit breaker
resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      notificationService:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

# logging
logging:
  level:
    ru.vicsergeev.GetwayUserService: INFO
    org.springframework.web: INFO